@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

:root{
  --primary-color: #00285f;
  --secundary-color:#f9f9f1;
  --card-radius: 15px;
  --button-radius:7px;
  --shadow:12px 12px 10px rgba(0,0,0,0.25);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ropa sans', serif,Arial, Helvetica, sans-serif;

}
body{
    background-color: #eeeeee;
    
} 

/* cabeçalho */
.container-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color: #00285f;
    z-index: 1000;
}

.container-menu h1{
    color: var(--secundary-color);
}
.container-menu nav ul{
    display: flex;
}

.container-menu nav ul li{
    list-style: none;
}
.container-menu  nav ul li a{
    text-decoration: none;
    color: var(--secundary-color);
    margin: 25px;
}

.container-menu nav ul li a:hover{
    text-decoration: underline;
}

/* parte principal */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 690px;
    height: 357px;
    background-color: var(--primary-color);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow);
    margin-top: 120px;
}
.div-slogan h1, .div-slogan p{
    color: var(--secundary-color);
}
.div-slogan h1{
    font-size: 3rem;
    margin-bottom: 15px;
}

.div-slogan p{
    font-size: 2rem;
}
.div-slogan{
    margin-left: 50px;
}
.img-slogan img{
    width: 263.04px;
    height: 203.61px;
    margin-right: 30px;
}

/* button de pesquisa */
.div-search{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 798px;
    height: 127px;
    background-color: var(--secundary-color);
    border-radius: 15px;
    opacity: 100%;
    box-shadow: var(--shadow);
    margin-top: 30px;
}
.div-search input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 593px;
    height: 45px;
    background-color: #eeeeee;
    border-radius: 12px;
    outline: none;
    border: none;
}
.div-search input::placeholder{
    color:gray;
}

.button-search{
    
    width: 158px;
    height: 47px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
}
 
.button-search a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 1.5rem;

}

.button-search:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;
}
/* filtros */

.div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.div-buttons .div-button{
    width: 173px;
    height: 43px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
}

.div-buttons .div-button:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;
}

.div-buttons .div-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secundary-color);
    text-decoration: none;
   
}

/* section catálogo */

.div-catalogo h2{
    margin-left: 40px;
    margin-top: 50px;
}
.div-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.div-cards .div-card{
    width: 423px;
    height: 248px;
    background-color: var(--secundary-color);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    padding: 25px;
    flex-shrink:0;
      
}

.div-cards .div-card .img-foto{
    width: 70px;
    height: 70px;

}
    /* endereço */
.div-cards .div-card .div-clinica-hospital{
    display: flex;
    justify-content: space-between;
}

.div-cards .div-card  h3{
    text-align: center;
}
.div-cards .div-card .div-clinica-hospital p{
    color: black;
    margin-top: 20px;
    font-size: 15px;

}

.div-cards .div-card .div-clinica-hospital .img-endereco{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;

}
    /* hórario */
.div-cards .div-card .div-horario {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.div-cards .div-card .div-horario img{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.div-cards .div-card .div-horario p{
    color: black;
    font-size: 14px;
    margin-left: 2px;
   
}

    /* button ver mais */
.div-cards .div-card .div-ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.div-cards .div-card .div-button-ver-mais:hover{
    mix-blend-mode: hard-light;
    opacity: 100%;
    cursor: pointer;
}

.div-cards .div-card .div-ver-mais .div-button-ver-mais{
   
    width: 150px;
    height: 38px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
}

.div-cards .div-card .div-ver-mais .div-button-ver-mais a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 20px;
}
/*buttons do catálogo*/
.div-buttons-catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.div-buttons-catalogo .buuton-prox-ant{
    
    width: 147px;
    height: 42px;
    background-color: var(--primary-color);
    border-radius: var(--button-radius);
    margin-left: 10px;
    margin-right: 10px;
}

.div-buttons-catalogo .buuton-prox-ant  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--secundary-color);
    width: 100%;
    height: 100%;
}
.div-buttons-catalogo .button-catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    width: 56px;
    height: 42px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    
}

.div-buttons-catalogo .button-catalogo a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-buttons-catalogo .buuton-prox-ant:hover{
    cursor: pointer;
    mix-blend-mode: hard-light;
    opacity: 100%;
}

/* section about*/
.section-about{
    background-color: var(--primary-color);
    border-radius: var(--card-radius);
    box-shadow: var(--shadow);
    margin-top: 70px;
    margin-bottom: 40px;
    width: 690px;
    height: 357px;
 }
 
 .section-about h3{
     text-align: center;
     color: var(--secundary-color);
     margin-top: 50px;
     font-size: 30px;
 }
  .section-about .div-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--secundary-color);
    padding: 35px;
    flex-shrink:0;

  }

 .section-about p{
    text-align: justify;
    font-size: 25px;
    margin-bottom: 90px;
 }
/* rodapé */

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

footer h1{
    margin-right: 25px;
    margin-left: 25px;
}

#btn-mobile{
    display: none;

}

/*------------------RESPONSIVIDADE------------------*/
@media (max-width: 540px){
    
 
      .div-search{

        display: none;
        
       }

       
            /* header mobile */
            
      .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 70px;
        right: 0px;
        background-color: var(--primary-color);
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow:hidden;
     }
 
     #nav.active .menu{
        height: 100vh;
        visibility: visible;
        overflow-y:auto;
 
    }
    #nav.active .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 1rem 0;
    }
    #nav.active .menu li a:hover{
        color: crimson;
   
    }
 
    #btn-mobile{
         display: flex;
         padding: .5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        margin-right: 10px;
        background-color: var(--secundary-color);
 
    }
    .hamburger{
        border-top:2px solid var(--primary-color);
        width: 20px;
    }
 
    .hamburger::after,.hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--primary-color);
        margin-top: 5px;
        transition: 3.s;
        position: relative;
     }

     #nav.active .hamburger{
        border-top-color: transparent;
  }
    #nav.active .hamburger::before{
    transform: rotate(135deg);
  }

  #nav.active .hamburger::after{
    transform: rotate(-135deg);
    top: -7px;
}

           /* section slogan */

       .section-slogan{
        flex-direction: column;
        width: 290px;
        height: 308px;
       }
       .div-slogan{
        margin-left: 0px;
        margin-bottom: 0px;
       }
       .div-slogan h1{
        margin-top: 50px;
        text-align: center;
        font-size: 25px;
       }
       .div-slogan p{
        text-align: center;
        font-size: 20px;
       }
       
       .img-slogan img{
        width: 193px;
        height: 155px;
        margin-right: 0px;
       }
     
           /* filtros  */
      .div-buttons .div-button{
        width: 94px;
        height: 21px;
        margin-right: 5px;
        margin-left: 5px;
       }
       .div-buttons .div-button a{
        font-size: 10px;
       }
       
        /* catálogo*/
        .div-catalogo h2{
            margin-left: 25px;
            margin-top: 40px;
        }
       .div-cards .div-card{
        width: 317px;
        height: 203px;
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;

        
       }
       .div-cards .div-card .img-foto{
        width: 50px;
        height: 50px;
    
        }
        /* endereço */
    
        .div-cards .div-card {
            padding: 10;
        }

        .div-cards .div-card  h3{
            font-size: 15px;
        }

        .div-cards .div-card .div-clinica-hospital p{
            margin-top: 13px;
            font-size: 13px;
        }

        .div-cards .div-card .div-clinica-hospital .img-endereco{
            margin-top: 13px;
        }
            /* hórario */
        .div-cards .div-card .div-horario {
        
            margin-top: 20px;
        
        }
        .div-cards .div-card .div-horario img{
      
            margin-top: -1px;
        }
        .div-cards .div-card .div-horario p{
            font-size: 12px;
       
        }
        /* button ver mais */
        
        .div-cards .div-card .div-ver-mais .div-button-ver-mais{   
            width: 135px;
            height: 28px;
            margin-top: -5px;
        
        }
    
        .div-cards .div-card .div-ver-mais .div-button-ver-mais a {
            font-size: 15px;
        }
        /* buttons do catalógo*/
        .div-buttons-catalogo .buuton-prox-ant{
            width: 73px;
            height: 24px;

        }
        .div-buttons-catalogo .buuton-prox-ant a{
            font-size: 12px
        }
        .div-buttons-catalogo .button-catalogo {
            width: 28px;
            height: 24px;
        }


        /* section about*/
        .section-about{
          width: 290px;
          height: 308px;
        }

        .section-about h3{
           margin-top: 12px;
        }
        
        .section-about p{
            margin-top: -80px;
            margin-bottom: 0px;
            font-size: 13px;
        }

        /* Rodapé */
        footer h1{
            font-size: 12px;
        }

        footer .div-email p{
            font-size: 10px;
        }
}

@media (max-width: 1023px){

    .div-search{

        display: none;
        
       }
       
}
